<ion-header>
  <ion-toolbar>
    <ion-title>Mis rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="routine-card" *ngFor="let routine of routines; let i = index" (click)="goToRoutine(routine.uid)">
  <ion-card-header>
    <div class="flex-container">
      <ion-card-title class="ion-text-left">{{ routine.name }}</ion-card-title>
      <div class="ion-text-end">
        <ion-icon [color]="routine.difficulty === 'BAJA' ? 'success' : routine.difficulty === 'MEDIA' ? 'warning' : 'danger'" name="flash"></ion-icon>
        <ion-icon [color]="routine.difficulty === 'BAJA' ? 'success' : routine.difficulty === 'MEDIA' ? 'warning' : 'danger'" [name]="routine.difficulty !== 'BAJA' ? 'flash' : 'flash-outline'"></ion-icon>
        <ion-icon [color]="routine.difficulty === 'BAJA' ? 'success' : routine.difficulty === 'MEDIA' ? 'warning' : 'danger'" [name]="routine.difficulty === 'ALTA' ? 'flash' : 'flash-outline'"></ion-icon>
      </div>
    </div>
  </ion-card-header>
  <ion-card-content class="flex-container">
    <ion-chip color="primary">{{ routine.sessions.length }} SESIONES</ion-chip>
    <ion-chip *ngIf="routine.active" color="success" (click)="presentChangeActiveAlert($event, routine.uid, false)">
      <ion-icon class="ion-margin-end" name="checkmark-done-outline"></ion-icon> ACTIVA
    </ion-chip>
    <ion-chip *ngIf="!routine.active" color="warning" (click)="presentChangeActiveAlert($event, routine.uid, true)">
      <ion-icon class="ion-margin-end" name="checkmark-outline"></ion-icon> ACTIVAR
    </ion-chip>
  </ion-card-content>
</ion-card>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="secondary" (click)="createRoutine()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
