.custom-tab-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(315deg, var(--ion-color-primary), var(--ion-color-secondary));
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 30px;
  margin: 0 10px 10px 10px;
  padding: 10px 0;
  height: 50px;
}

.tab-item {
  text-decoration: none;
  color: var(--ion-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.tab-item.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%); // centra el elemento
  margin: auto;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}


ion-icon {
  font-size: 24px;
  margin-bottom: 5px;
}


