<div class="custom-tab-bar">
  <a class="tab-item" routerLink="/user/home" routerLinkActive #rlaHome="routerLinkActive">
    <ion-icon *ngIf="rlaHome.isActive; else homeOutline" name="home"></ion-icon>
    <ng-template #homeOutline><ion-icon name="home-outline"></ion-icon></ng-template>
  </a>
  <a class="tab-item" routerLink="/user/workouts" routerLinkActive #rlaWorkouts="routerLinkActive">
    <ion-icon *ngIf="rlaWorkouts.isActive; else calendarOutline" name="calendar"></ion-icon>
    <ng-template #calendarOutline><ion-icon name="calendar-outline"></ion-icon></ng-template>
  </a>
  <a class="tab-item" routerLink="/user/routines" routerLinkActive #rlaRoutine="routerLinkActive">
    <ion-icon *ngIf="rlaRoutine.isActive; else folderOpenOutline" name="folder-open"></ion-icon>
    <ng-template #folderOpenOutline><ion-icon name="folder-open-outline"></ion-icon></ng-template>
  </a>
</div>
