.title {
  font-family: "Poppins", sans-serif;
  color: white;
}

ion-card.next-session-card {
  --background: var(--ion-color-primary-shade);
}

ion-card.next-session-card ion-card-header ion-card-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: white;
}

ion-card.next-session-card ion-card-header ion-card-subtitle {
  color: lightgrey;
}

.circular-button {
  --border-radius: 50%;
}

.no-session {
  color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
